/* LandingPage.css */
.categories {
  text-align: center;
  margin: 20px 0;
}

.categories h2 {
  margin-bottom: 20px;
}

.categories ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  /* To handle responsive design */
}

.categories ul li {
  margin: 0 15px;
}

.categories ul li a {
  color: #007bff;
  text-decoration: none;
}

.categories ul li a:hover {
  text-decoration: underline;
}